<%- include('partials/header.ejs')   %>

<link rel="stylesheet"  href="/styles/nav.css" />
<link rel="stylesheet"  href="/styles/Procard.css"/>
<script src="/javascript/nav.js"></script>
<link
   rel="stylesheet"
   href="/styles/slider.css"
  />
  <script src="/javascript/slider.js"></script>
  <script src="/javascript/homeCart.js"></script>
  <script src="/javascript/homeWish.js"></script>
<style>
   body{
    margin-top:61px;
  }


.swiper img{
width: 100%;
height: 50vh;
}
@media (max-width: 480px){
  .swiper img{
    width: 100%;
height: 40vh; 
  }
}
.swiper-button-prev{
  color:  palevioletred; 
  height: 16px;
width: 16px;

}
.swiper-button-next{
color:  palevioletred; 
height: 16px;
width: 16px;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
background-color:  palevioletred;
}

</style>
<!-- <div class="swiper">
 
    <div class="swiper-wrapper">
      <%slideArray.forEach((slideImg)=>{%>
      <div class="swiper-slide">
         <img src="<%=slideImg.img %>" />
      </div>
      <%})%>
     
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
     </div> 
 -->

<u> <h1 style="text-align: center; margin-top: 15px; font-size: 35px; font-family: 'Courier New', Courier, monospace;" >Your Products</h1></u>
<div class="container">
   
     <% productsArray.forEach(function(item){ %>
        <a href="/product/<%=item._id %>?id=<%=item._id %>">
            <div class="card">
                <div class="productContainer">
                  
                    <img  src="<%=item.img%>"  />
                    
                </div>
             
            </a>
                <div class="cardbody">
                    <div class="row" style="padding: 10px;">
                        <h4 style="color: black; "><%=item.name%></h4>
                        <h4 style="color: black;">price: &#8377;<%= item.price%> </h4>
                    </div>
                    <% if(item.qtyInStock>0){%>
                      <p style="color: green; font-size: 18px; margin-top: -30px; padding: 0 8px; ">Hurry up! In Stock</p>
                      <div class="Pbutton">
                        <button type="button" value="<%=item._id%>" onclick="addToCart(this)" style="background-color:rgb(76, 177, 76); border: none;"> 
                         <i style="color:rgb(244, 244, 248); margin-right: 5px;height: 15px; width: 15px;" class="fas fa-cart-plus"></i>Add to Cart</button>
                        <button type="button" value="<%=item._id%>" onclick="wishlist(this)" style="background-color:palevioletred;border: none;"> 
                         <i style="color:white; margin-right: 5px;height: 15px; width: 15px;" class="far fa-heart" ></i>Add to Wishlist</button>
                      </div>
                    <%}else{%>
                      <div class="Pbutton">
                        <p style="margin-bottom: -0px; color: red; font-size: 18px;margin-left: -100px; "> Sorry! Out of stock</p>
                      </div>
                   <% }%>
                   
                </div>
            </div>
       
     <% }) %>
</div>
<script> 
    const swiper = new Swiper('.swiper', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  });

  </script>
<%- include('partials/footer.ejs')   %>