<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="/styles/nav.css" />
    <script src="/javascript/nav.js"></script>
    <link rel="stylesheet"  href="/styles/show.css"/>
    
<p id="msgBox"></p>
    <div class="showContainer">
        <div class="col2">
            <img src="<%= sp.img %>" />
        </div>
        <div class="col1">
           <div class="showdes">
            <div class="desContainer">
                <div class="row">
                    <b style="font-size: 18px;" >
                        <%=sp.name %>
                    </b>
                   <b style="color: maroon;"> 
                        Price: &#8377; <%=sp.price %>
                   </b>
                </div>
                <div style="display: flex; justify-content: space-between;">

                    <div class="rating">
                        <% for(r=1;r<=sp.rating;r++){%>
                            <span><i style="color: goldenrod;" class="fa fa-star" aria-hidden="true"></i></span>
                        <%}%>
                        <span style="font-size: 1.2rem;"> 17 reviews</span>
                    
                   
                    </div>
                    <div class="checkStock" style="margin-top: -11px;">
                        <% if(sp.qtyInStock>0){%>
                            <p style="color: green;">In Stock</p><%}else{%>
                                <p style="color: red;">Out of Stock</p>
                            <%}%>
                    </div>
                </div>
            <p class="des" style="font-size: 16px; margin-top: -13px;"><b style=" border: bottom 1px solid black ; font-size: 18px;">Descripation :-</b><br/>
                    <%= sp.des %>
                </p>
                <% if(sp.qtyInStock>0){%>
            <div class="action">
                <div class="row">
                    <p>Price :- </p>
                    <p> &#8377; <%=sp.price %>
                    </p>
                </div>
              
                <div class="row">
                    <p style="margin-top:-6px;">Qty:-</p>
                    <select style="height: 20px; border: 1px solid brown;" onchange="selecttQty(this)">
                        <% for(i=1;i<=sp.qtyInStock;i++){%>
                           <b>
                            <option style="color: brown;" value=<%=i %>><%= i %>
                            </option>
                           </b>
                            <%}%>
                    </select>
                </div>
                
                    <button  class="addToCartBtn" type="button" onclick="addToCart()"><a>Add to cart</a></button>
                
            </div>
            <%}%>
           </div>
        </div>
       
    </div>
     <script src="/javascript/show.js"></script>
    <%- include('partials/footer.ejs') %>